*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: rgba(241, 90, 36, 1);
  font-family: 'Nunito', sans-serif;
  word-spacing: 0.2em;
  text-align: justify;
}

.main{
    visibility: hidden;
}
.about-me{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  background: #2E334A;
  
}
.about-me>img{
  display: flex;
  width:auto;
  height: auto;
  max-width:100%;
  max-height:100%;

}
.about-me>p{
 margin: 10% 5% 10% 5%
}

.about-me>p>a{
  font-weight: 900;
  font-size: 1em;
  text-decoration: underline;
  color: rgba(241, 90, 36, 1);
}

p{
    color: #D9D9D9;
    font-size: 1.5em;
    width: 70%;
    flex-grow: 1;
    margin-right: 5%;
    margin-left: 5%;
}
span{
    font-weight: 900;
    font-size: 1.3em;
    color: rgba(241, 90, 36, 1);
}

.contacts{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background: rgba(241, 90, 36, 1);
   height: 50px;
   margin: 2%;
}

a{
  text-decoration: none;
  color: white;
}

p>a{
  color: rgba(241, 90, 36, 1);
  font-weight: 600;
  font-size: 1.1em;
}

.contact-img{
  width: 50px;
}

#button-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  position: fixed;
  bottom: 25px;
  right: 40px;
  z-index: 99;
  border: solid #D9D9D9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

