.navbar{
    display: block;
    height: 15%;
    background: rgba(241, 90, 36, 1); 
}
.navbar-links {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
   list-style-type: none;
   color: rgb(247, 241, 241);
   font-size: 1.3em;
}
.navbar-links>li{
  margin: 1% 2% 1% 2%;
  align-items: center;
  
}
.navbar-links li a:hover{
    color: #2E334A;
    text-decoration: underline;
    font-size: 1.1em;
    transition: all 0.4s ease 0s;
    font-weight: 900;
}


/*Hamburger menu*/

.hamburger{
    display: none;
    position: fixed;
    margin: 1%;
    cursor: pointer;
    z-index: 999;
}
.hamburger div{
    width: 21px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
     opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
 