.resume{
    display: flex;
    flex-direction: column;
    background: #2E334A;
    height: auto;
    width: 100vw;
  }
  .resume>p{
    display: block;
    width: auto;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
 .resume>p>span{
  font-size: 1em;
 }
  .resume-links{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-bottom: 3%;
  }
  .resume-downoload{
    padding: 1%;
  }
  .resume-img{
    width: 90px;
  }
  .resume-img:hover{
    transform: translate(0px,-4px);
  }