@media screen and (max-width: 750px){
  .about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 3%;
  }
  .about-me>img{
      display: none;
  }
  .about-me>p{
    width: 85%;
    height: 100vh;
    padding:0;
  }
  .projects>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
  }
  .resume{
    display: flex;
    flex-direction: column;
    height: auto;  
  }
  p{
      width: 85%;
  }
  .resume-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto; 
  }
  .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
  }
  #myBtn{
      display: none;
  }
  .hamburger{
    display: block;
  }
.main{
    visibility: visible;
}
  .navbar-links{
      position: absolute;
      left: 0px;
      height: 100vh;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      background: rgba(241, 90, 36, 1);
      transform: translateX(100%);
      
  }
  .navbar-links li {
     
  }
  .navbar-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }
  body{
      overflow-x: hidden;
  }
}